// PRIMERA SECCION CON BUSCADOR

.firstSectionContainer{
  height: 53px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #2C4252
}

.searchBarContainer{
  height: 100%;
  width:90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 5px;

}

.searchIconContainer{
  height: 85%;
  width: 50px;
  background-color: #D2F1EE;
  border: 1px solid #2C4252;
  border-radius: 4px 0 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  ion-icon{
    color: #112534;
    width: 80%;
    height: 80%;
  }
}

.searchInputStyle{
  height: 35px;
  min-height: 35px;
  background-color: #D2F1EE;
  border: 1px solid #2C4252;
  border-radius: 0 4px 4px 0;
  color: #112534;
  --padding-start: 4px;
}


// SEGUNDA SECCION CON SELECTOR DE FECHA

.bgDateSelector{
  height: 56px;
  width: 100%;
  background-color: #050A17;

  display: flex;
  align-items: center;
  justify-content: center;
}

.dateSelectorContainer{
  width:90%;
  height: 90%;
  background-color: #2C4252;
  display: flex;
  border-radius: 5px;
}

.dateArrowIcon{
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-icon{
    height:30px;
    width: 30px;
    color: #D7C7B5;
  }
}

.dateInfoContainer{
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: content;

  .dateInfoBox{
    display: flex;
    width: 90%;
    height: 80%;
    background-color:#D7C7B5;
    border-radius: 5px;
    color: #2C4252;
    justify-content: center;
    align-items: center;
  }

  &:hover .dateInfoBox{
    text-decoration: line-through;
  }
}

// Contenido Estilos

.contentContainer{
  width: 100%;
  height: 100%;


  display: flex;
  flex: auto;

  justify-content: center;
  align-items: flex-start;
}

// El contenedor donde todas las caracterisiticas se ingresan
.containerOfLists{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  min-height: 98%;
  // height: 98%;
  width: 90%;
  padding-top: 8px;
  margin-top: 5px;
  margin-bottom: 2px;

  gap: 10px;

  background-color: #1F374A;
}

