
<ion-header [translucent]="true" class="headerClass">

  <div style="height: 25%; background-color: aliceblue;">
    <br>
  </div>

  <div class="headerContent">

    <ion-avatar style="height: 50px; width: 50px; border: solid #D2F1EE 1px;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQl-DxLh4oV1NCm2a101jtYxOimBnLZNkiiBQ&s">
    </ion-avatar>

    <span>
      Bienvenido <span> <b> Juan Manuel Valdez Lerma </b> </span>
    </span>

  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">testPage</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>


<ion-footer [translucent]="true" class="footerClass">
  <div>
    <ion-icon name="time" style="font-size: 34px;"></ion-icon>
  </div>

  <div>
    <ion-icon name="folder" style="font-size: 34px;"></ion-icon>
  </div>

  <div>
    <ion-icon name="home" style="font-size: 34px;"></ion-icon>
  </div>

  <div>
    <ion-icon name="desktop" style="font-size: 34px;"></ion-icon>
  </div>

  <div class="selectedElement">
    <ion-icon name="cog" style="font-size: 34px;"></ion-icon>
  </div>

</ion-footer>

