// La pagina de fondo

.firstHeaderSection {
  height: 53px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c4252;
}

.contentContainer {
  width: 100%;
  min-height: 100%;
  background-color: #121212;

  display: flex;
  flex: auto;

  justify-content: center;
  align-items: flex-start;
}

// El contenedor donde todas las caracterisiticas se ingresan
.containerOfLists {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  min-height: 710px;
  // height: 98%;
  width: 90%;
  padding-top: 8px;
  margin-top: 5px;
  margin-bottom: 2px;

  gap: 10px;

  background-color: #112534;
}

.searchBarContainer {
  height: 100%;
  width: 94%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 6px;
  margin-top: 3px;
}

.searchIconContainer {
  height: 85%;
  width: 50px;
  background-color: #d2f1ee;
  border: 1px solid #2c4252;
  border-radius: 4px 0 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  ion-icon {
    color: #112534;
    width: 80%;
    height: 80%;
  }
}

.searchIconContainer:hover {
  background-color: #112534;

  ion-icon {
    color: #d2f1ee;
  }
}

.searchInputStyle {
  height: 35px;
  min-height: 35px;
  background-color: #d2f1ee;
  border: 1px solid #2c4252;
  border-radius: 0 4px 4px 0;
  color: #112534;
  --padding-start: 4px;
}

// -- ----------------

// ComoboBox de filtrado
.comboBoxContainer {
  border-radius: 4px;
  height: 65%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2c4252;
}

.contentComboBox {
  width: 70%;
  flex: auto;
  height: 100%;
  border: 1px solid #2c4252;
  background-color: #d2f1ee;
  border-radius: 4px 0 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textCombo {
  padding: 2px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.comboBoxButton {
  width: 30%;
  max-width: 30px;
  // max-width hace que no se deforme la caja de texto

  height: 100%;
  border: 1px solid #2c4252;
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #d2f1ee;
}

// button Styles - hechos por juan :>
.pagination-container {
  min-width: 90%;
  max-width: 90%;
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 16px;
}

.page-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #071d2b;
  color: #dfd7ce;
  font-size: 16px;
  cursor: pointer;
  box-shadow: -3px 3px 0 #000;
  transition: 0.3s;
}

.page-button:hover:not(.active):not(:disabled) {
  background-color: #123245;
}

.page-button.active {
  background-color: #c7e8f1;
  color: #000;
  font-weight: bold;
  box-shadow: -3px 3px 0 #000;
}

.page-button:disabled {
  opacity: 0.6;
  cursor: default;
}
