<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="historial-movimientos" href="/tabs/historial-movimientos">

      <div>
        <ion-icon aria-hidden="true" name="time"></ion-icon>
      </div>

    </ion-tab-button>

    <ion-tab-button tab="inventario" href="/tabs/inventario">
      <div>
        <ion-icon aria-hidden="true" name="folder"></ion-icon>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="main" href="/tabs/main">
      <div>
        <ion-icon aria-hidden="true" name="home"></ion-icon>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="monitoreo" href="/tabs/monitoreo">
      <div>
        <ion-icon aria-hidden="true" name="desktop"></ion-icon>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="config" href="/tabs/config">
      <div>
        <ion-icon aria-hidden="true" name="cog"></ion-icon>
      </div>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
