<ion-header [translucent]="true" class="headerClass">

  <div style="height: 25%; background-color: aliceblue;">
    <br>
  </div>

  <div class="headerContent">

    <ion-icon name="desktop" style="height:25px;width: 25px;">
    </ion-icon>

    <span>
      <b> Monitoreo y Control </b>
    </span>

  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ventanaMonitoreo</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
