<ion-header [translucent]="true" >

  <div style="width: 100%; background-color: #2C4252;">
    <div class="headerClass">
      <div style="height: 25%;">
        <br>
      </div>

      <div class="headerContent">
        <ion-icon name="time" style="height:25px;width: 25px;">
        </ion-icon>
        <span>
          <b> Historial de Movimientos </b>
        </span>
      </div>

    </div>

    <!-- lo que esta abajo del Header -->
    <div style="height: 53px; width: 100%; display: flex; align-items: center; ">
      <!-- width = 70% -->
      <div class="searchBarContainer">
        <div class="searchIconContainer">
          <ion-icon name="search-outline"></ion-icon>
        </div>
        <ion-input color="transparent" class="searchInputStyle" placeholder="Buscar..."></ion-input>
      </div>

      <!-- width = 30% -->
      <div class="comboBoxContainer">
        <div class="contentComboBox">
          <span class="textCombo">
            Sin filtro eee sans
          </span>
        </div>
        <div class="comboBoxButton">
          <ion-icon name="caret-down-outline"></ion-icon>
        </div>
      </div>

    </div>

  </div>


</ion-header>

<ion-content [fullscreen]="true">
  <div class="contentContainer">
    <div class="containerOfLists">


      <!-- componente Fecha y componente Productos -->
       <div class="listOfItems">
        <div class="dateSection">
          <span>31 de Julio del 2025</span>
          <div></div>
        </div>

        <div class="dataSection">

          <div class="listContainer">
            <div class="elementContainer">
            <!-- imagen -->
             <!-- flex-grow: 3; max-width: 100px; -->
            <div class="imageSection">
              <!-- hacer un div que represente el tamaño de la imagen, -->
              <!-- Dentro de ese ingresar la imagen, y centrarla, hacer overflow none -->
              <!-- e intentar cambiar las dimensiones -->
              <!-- El tamaño del div no cambiara pero si el de la imagen -->

              <div class="imageBox">
                <img src="https://www.fangamer.com/cdn/shop/products/product_DR_light_ralsei_plush_photo1.png?crop=center&height=1200&v=1691703459&width=1800" >
              </div>

            </div>

            <!-- contenido -->
            <div class="textSection" style="color: #D7C7B5;">
              <div style=" text-overflow: ellipsis; font-size: 16px;"> <span >Despacho de <b>Peluche de Ralsei Sin Gorro </b> - Deltarune </span></div>
              <span>Hora de operacion: 21:52</span>
              <span>ID_Producto: 000000004</span>
            </div>

            <!-- icono -->
            <div class="iconSection" style="color:#D7C7B5;">
              <ion-icon name="arrow-down" style="height:30px; width:30px; rotate: 180deg;"></ion-icon>
              <span class="quantity">0002</span>
              <span class="text">Unidades</span>

            </div>
          </div>

          <!-- Eliminar de Aqui -->
           <div class="elementContainer">
            <!-- imagen -->
             <!-- flex-grow: 3; max-width: 100px; -->
            <div class="imageSection">
              <!-- hacer un div que represente el tamaño de la imagen, -->
              <!-- Dentro de ese ingresar la imagen, y centrarla, hacer overflow none -->
              <!-- e intentar cambiar las dimensiones -->
              <!-- El tamaño del div no cambiara pero si el de la imagen -->

              <div class="imageBox">
                <img src="https://www.fangamer.com/cdn/shop/products/product_DR_light_ralsei_plush_photo1.png?crop=center&height=1200&v=1691703459&width=1800" >
              </div>

            </div>

            <!-- contenido -->
            <div class="textSection" style="color: #D7C7B5;">
              <div style=" text-overflow: ellipsis; font-size: 16px;"> <span >Despacho de <b>Peluche de Ralsei Sin Gorro </b> - Deltarune </span></div>
              <span>Hora de operacion: 21:52</span>
              <span>ID_Producto: 000000004</span>
            </div>

            <!-- icono -->
              <div class="iconSection" style="color:#D7C7B5;">
                <ion-icon name="arrow-down" style="height:30px; width:30px; rotate: 180deg;"></ion-icon>
                <span class="quantity">0002</span>
                <span class="text">Unidades</span>

              </div>
            </div>

            <div class="elementContainer">
              <!-- imagen -->
              <!-- flex-grow: 3; max-width: 100px; -->
              <div class="imageSection">
                <!-- hacer un div que represente el tamaño de la imagen, -->
                <!-- Dentro de ese ingresar la imagen, y centrarla, hacer overflow none -->
                <!-- e intentar cambiar las dimensiones -->
                <!-- El tamaño del div no cambiara pero si el de la imagen -->

                <div class="imageBox">
                  <img src="https://www.fangamer.com/cdn/shop/products/product_DR_light_ralsei_plush_photo1.png?crop=center&height=1200&v=1691703459&width=1800" >
                </div>

              </div>

              <!-- contenido -->
              <div class="textSection" style="color: #D7C7B5;">
                <div style=" text-overflow: ellipsis; font-size: 16px;"> <span >Despacho de <b>Peluche de Ralsei Sin Gorro </b> - Deltarune </span></div>
                <span>Hora de operacion: 21:52</span>
                <span>ID_Producto: 000000004</span>
              </div>

              <!-- icono -->
              <div class="iconSection" style="color:#D7C7B5;">
                <ion-icon name="arrow-down" style="height:30px; width:30px; rotate: 180deg;"></ion-icon>
                <span class="quantity">0002</span>
                <span class="text">Unidades</span>

              </div>
            </div>

            <div class="elementContainer">
              <!-- imagen -->
              <!-- flex-grow: 3; max-width: 100px; -->
              <div class="imageSection">
                <!-- hacer un div que represente el tamaño de la imagen, -->
                <!-- Dentro de ese ingresar la imagen, y centrarla, hacer overflow none -->
                <!-- e intentar cambiar las dimensiones -->
                <!-- El tamaño del div no cambiara pero si el de la imagen -->

                <div class="imageBox">
                  <img src="https://www.fangamer.com/cdn/shop/products/product_DR_light_ralsei_plush_photo1.png?crop=center&height=1200&v=1691703459&width=1800" >
                </div>

              </div>

              <!-- contenido -->
              <div class="textSection" style="color: #D7C7B5;">
                <div style=" text-overflow: ellipsis; font-size: 16px;"> <span >Despacho de <b>Peluche de Ralsei Sin Gorro </b> - Deltarune </span></div>
                <span>Hora de operacion: 21:52</span>
                <span>ID_Producto: 000000004</span>
              </div>

              <!-- icono -->
              <div class="iconSection" style="color:#D7C7B5;">
                <ion-icon name="arrow-down" style="height:30px; width:30px; rotate: 180deg;"></ion-icon>
                <span class="quantity">0002</span>
                <span class="text">Unidades</span>

              </div>
            </div>

          <!-- Hasta Aqui -->

          </div>

        </div>
       </div>
       <!-- FIN DE COMPONENTE -->

       <!-- ESPACIO VACIO PARA QUE NO SE OCULTEN ELEMENTOS -->
       <div style="height: 70px;">
       </div>

    </div>
  </div>
</ion-content>
