<ion-header [translucent]="true" >

  <div style="width: 100%; background-color: #2C4252;">
    <div class="headerClass">
      <div style="height: 25%;">
        <br>
      </div>

      <div class="headerContent">
        <ion-icon name="time" style="height:25px;width: 25px;">
        </ion-icon>
        <span>
          <b> Historial de Movimientos </b>
        </span>
      </div>

    </div>

    <!-- lo que esta abajo del Header -->
    <div style="height: 53px; width: 100%; display: flex; align-items: center; ">
      <!-- width = 70% -->
      <div class="searchBarContainer">
        <div class="searchIconContainer">
          <ion-icon name="search-outline"></ion-icon>
        </div>
        <ion-input color="transparent" class="searchInputStyle" placeholder="Buscar..."></ion-input>
      </div>

      <!-- width = 30% -->
      <div class="comboBoxContainer">
        <div class="contentComboBox">
          <span class="textCombo">
            Sin filtro...
          </span>
        </div>
        <div class="comboBoxButton">
          <ion-icon name="caret-down-outline"></ion-icon>
        </div>
      </div>

    </div>

  </div>


</ion-header>

<ion-content [fullscreen]="true">
  <div style="width: 100%; height: 100%;  display: flex; flex: auto; justify-content: center; align-items: flex-start;">
    <div style=" height: 98%; width: 90%; padding-top: 8px; margin-top: 5px; margin-bottom: 2px; background-color: #112534; display: flex; justify-content: center; ">
      <!-- componente Fecha y componente Productos -->
       <div style="width:95%;">
        <div style="display:flex; align-items: center; gap:10px; ">
          <span style="color: #D7C7B5;">31 de Julio del 2025</span>
          <div style="display: flex; flex: auto; background-color: #D7C7B5; height: 3px;">
          </div>
        </div>

        <div style="width: 100%; background-color: #1F374A; border-radius: 11px; margin-top: 10px; padding: 5px;">

          <div style="display: flex; flex-direction: row; width: 100%; height: 10%; min-height: 60px; max-height: 100px; background-color: #112534; padding: 3px;">
            <!-- imagen -->
            <div style="display: flex; flex-grow: 3; max-width: 100px; background-color: blue; align-items: center; ">
              <!-- hacer un div que represente el tamaño de la imagen, -->
              <!-- Dentro de ese ingresar la imagen, y centrarla, hacer overflow none -->
              <!-- e intentar cambiar las dimensiones -->
              <!-- El tamaño del div no cambiara pero si el de la imagen -->

              <img style="border: 3px solid #D7C7B5; object-fit:none;" height="90%" width="70%" src="https://www.fangamer.com/cdn/shop/products/product_DR_light_ralsei_plush_photo1.png?crop=center&height=1200&v=1691703459&width=1800">
              <!-- <img style=" width: 20%; height: 80%; min-height: 40px; max-height: 10%"  src="https://www.fangamer.com/cdn/shop/products/product_DR_light_ralsei_plush_photo1.png?crop=center&height=1200&v=1691703459&width=1800"> -->
            </div>
            <!-- contenido -->
            <div style="display: flex; flex-grow: 7; background-color: aqua;">

            </div>
            <!-- icono -->
            <div style="display: flex; flex-grow: 3; max-width: 81px; background-color: antiquewhite;">

            </div>
          </div>

        </div>

       </div>
    </div>
  </div>
</ion-content>
