.headerClass{
  width: 100%;
  height: 83px;
  background-color: #112534;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.250) ;


  padding: 10px;

  padding-right: 15px;
  padding-left: 15px ;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  color: #D2F1EE;

  border-radius: 0 0 7px 7px;

}

.headerContent{

  width: 100%;
  height: 75%;
  display: flex;

  align-items: center;
  gap: 10px;

}

// Propiedades de la barra de busqueda --- todo esto para lo que busca el Nombre del Producto
.searchBarContainer{
  height: 100%;
  width:70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 6px;
  padding-left: 15px;

}

.searchIconContainer{
  height: 85%;
  width: 50px;
  background-color: #D2F1EE;
  border: 1px solid #2C4252;
  border-radius: 4px 0 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  ion-icon{
    color: #112534;
    width: 80%;
    height: 80%;
  }
}

.searchIconContainer:hover{
  background-color: #112534;

  ion-icon{
    color:#D2F1EE;
  }

}

.searchInputStyle{
  height: 35px;
  min-height: 35px;
  background-color: #D2F1EE;
  border: 1px solid #2C4252;
  border-radius: 0 4px 4px 0;
  color: #112534;
  --padding-start: 4px;
}

// -- ----------------

// ComoboBox de filtrado
.comboBoxContainer{
  border-radius: 4px;
  height: 65%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2C4252;
}

.contentComboBox{
  width: 70%;
  flex: auto;
  height: 100%;
  border: 1px solid #2C4252;
  background-color: #D2F1EE;
  border-radius: 4px 0 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textCombo{
  padding: 2px;
  display: block;
  overflow: hidden;
  white-space: nowrap;

}

.comboBoxButton{
  width: 30%;
  max-width: 30px;
  // max-width hace que no se deforme la caja de texto

  height: 100%;
  border: 1px solid #2C4252;
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #D2F1EE;
}

// Pagina Estilos

// La pagina de fondo
.contentContainer{
  width: 100%;
  height: 100%;

  display: flex;
  flex: auto;

  justify-content: center;
  align-items: flex-start;
}

.containerOfLists{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  min-height: 710px;
  // height: 98%;
  width: 90%;
  padding-top: 8px;
  margin-top: 5px;
  margin-bottom: 2px;

  gap: 10px;

  background-color: #112534;
}

.listOfItems{
  width:95%;
}
////

/// Propiedades Fecha

.dateSection{
  display:flex;
  align-items: center;
  gap:10px;

  span{
    color: #D7C7B5;
  }

  div{
    display: flex;
    flex: auto;

    background-color: #D7C7B5;
    height: 3px;
  }
}

//

// Contenedor de Datos de Un Producto

.dataSection{
  width: 100%;
  max-height: 260px;

  background-color: #1F374A;

  border-radius: 11px;
  margin-top: 10px;
  padding: 5px;

  box-shadow: none;

}

// Con esto dataSection no pierde su contenido
.listContainer{
  width: 100%;
  max-height: 250px;
  overflow-y: scroll;
  // 80 px = Altura de un elemento de un elemento + 10 de Gap

}

.elementContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  min-height: 60px;
  max-height: 100px;
  background-color: #112534;
  gap:5px;
  padding: 3px;

  // Espaciado entre elementos
  margin-top:3px;
  margin-bottom: 3px;

  // margin-top:10px ;
}

// Propiedades Imagen

.imageSection{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.imageBox{
  overflow: hidden;
  max-height: 70px;
  max-width: 100px;
  width: 90%;
  height: 90%;

  border: 3px solid #D7C7B5;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    object-fit:cover;
    width: 120px;
    height: 150px;
  }

}

.textSection{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  flex-grow: 7;
  justify-content: center;
  font-size: 12px;
}

.iconSection{
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-grow: 3;
  max-width: 81px;

  justify-content: center;
  align-items: center;

  ion-icon{
    height:30px;
    width:30px;
  }

  .quantity{
    font-size: 11px;
  }

  .text{
    font-size: 8px;
  }

}



