<ion-header [translucent]="true" class="headerClass">

  <div style="height: 25%; background-color: aliceblue;">
    <br>
  </div>

  <div class="headerContent">

    <ion-icon name="person-circle-outline" style="height:25px;width: 25px;">
    </ion-icon>

    <span>
      <b> Configuraciones del usuario </b>
    </span>

  </div>
</ion-header>

<ion-content>
  <div class="innerContainer">
    <div class="withBgContainer">

      <div class="imgLogo">
        Triliner Mobile APP
      </div>

      <br>

      <div>
        Equipo de Mecatronica
      </div>
      <div class="nameContainer">
        <div *ngFor="let alumno of alumnosMeca; let i = index" class="alumnoContainer">
          {{alumno}}
        </div>
      </div>

      <br>

      <div>
        Equpo de Informatica
      </div>
      <div class="nameContainer" >
        <div *ngFor="let alumno of alumnosInfo; let i = index" class="alumnoContainer">
          {{alumno}}
        </div>
      </div>

    </div>
  </div>
</ion-content>
